{% extends "layout.html" %}
{% block body %}
 
<div class="w3-container">
  <h2>Receipts to approve:</h2>
  <!--
  <div class="w3-container">
    <form action="/search" method="POST" class="w3-container">
      <label class="w3-margin">Twitter @ name to search:</label>
      <div class="w3-container">
        <input type="text" name="search_user" class="w3-input w3-border w3-light-grey w3-margin" style="width: 16em; float:left">
        <input type="submit" name="my-form" value="Search" class="w3-btn cobalt w3-margin">
      </div>
    </form>
  </div>
  -->

  {% if results.show_error %}
    <p class="error">{{results.error_msg}}</p>
  {% endif %}
  {% if results.show_approval_msg %}
    <p class="note">{{results.approval_msg}}</p>
  {% endif %}
  {% if results.show_results %}
  <form action="/approve" method="POST" class="w3-container">
    <input type="submit" name="approve_button" value="Approve" class="w3-btn cobalt w3-margin"/>
  

    <div class="w3-responsive">
      <table class="w3-table-all w3-hoverable">
        <thead>
          <tr class="w3-light-grey">
            <th>Approve?</th>
            <th>Name</th>
            <th>Receipt</th>
            <th style="width:14em">Date</th>
            <th>Blocklist ID</th>
          </tr>
        </thead>
        <tbody>
          {% for receipt in results.receipts %}
            <tr>
              <td><input type="checkbox" name="approvals" value="{{receipt.id}}" class="w3-check"></td>
              <td>
                {{receipt.name}} <br> 
                <a href="https://www.twitter.com/{{receipt.screen_name}}">
                  <font color="#657786">@{{receipt.screen_name}}</font>
                </a>
              </td>
              <td class="censor">{{receipt.contents_text}}</td>
              <td><a href="{{receipt.url}}">{{receipt.date_of_tweet}}</a></td>
              <td>{{receipt.blocklist_id}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </form>
  {% endif %}
</div>
{% endblock %}