{% extends "layout.html" %}
{% block body %}
 
<div class="w3-container">
  <h2>Receipts to approve:</h2>
  <!--
  <div class="w3-container">
    <form action="/search" method="POST" class="w3-container">
      <label class="w3-margin">Twitter @ name to search:</label>
      <div class="w3-container">
        <input type="text" name="search_user" class="w3-input w3-border w3-light-grey w3-margin" style="width: 16em; float:left">
        <input type="submit" name="my-form" value="Search" class="w3-btn cobalt w3-margin">
      </div>
    </form>
  </div>
  -->
  {% if show_search_name %}
    <p>Searched for @{{username}}:</p>
    <p>Displaying {{num_receipts}} receipts.</p>
  {% endif %}
  {% if show_error %}
    <p class="error">{{error_msg}}</p>
  {% endif %}

  {% if show_results %}
  <form action="/approve_receipts" method="POST" class="w3-container">
    <input type="submit" name="approvals" Value="Approve" class="w3-btn cobalt w3-margin"/>
  </form>
  
  <div class="w3-responsive">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Approve?</th>
          <th>Name</th>
          <th>Receipt</th>
          <th style="width:14em">Date</th>
          <th>Blocklist ID</th>
        </tr>
      </thead>
      <tbody>
        {% for result in results %}
          <tr>
            <td><input type="checkbox" name="approvals" value="{{result.id}}"></td>
            <td>
              {{result.name}} <br> 
              <a href="https://www.twitter.com/{{result.screen_name}}">
                <font color="#657786">@{{result.screen_name}}</font>
              </a>
            </td>
            <td class="censor">{{result.contents_text}}</td>
            <td><a href="{{result.url}}">{{result.date_of_tweet}}</a></td>
            <td>{{result.blocklist_id}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <!-- {{results}} -->
</div>
{% endblock %}